<div class="jumbotron">
  <h3>You should do it today</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <td>No</td>
        <td>Priority</td>
        <td>Name</td>
        <td>Description</td>
        <td>Status</td>
        <td>Category</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks">
        <td>{{$index + 1}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.name}}</td>
        <td>{{task.description}}</td>
        <td>{{task.status}}</td>
        <td>{{task.category}}</td>
      </tr>
    </tbody>
  </table>

  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<!--<div class="row marketing">-->
  <!--<h4>HTML5 Boilerplate</h4>-->
  <!--<p>-->
    <!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
  <!--</p>-->

  <!--<h4>Angular</h4>-->
  <!--<p>-->
    <!--AngularJS is a toolset for building the framework most suited to your application development.-->
  <!--</p>-->

  <!--<h4>Karma</h4>-->
  <!--<p>Spectacular Test Runner for JavaScript.</p>-->
<!--</div>-->
